@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Nadja is a character in the game Black Survival, helping new players to get familiarized with the game.</p>
<p>I've decided to create a Discord Bot to help new players in the game, and named it Nadja.</p>
