@{
    ViewBag.Title = "Changelog";
}

<h1>@ViewBag.Title</h1>

<h2>Version 2.4</h2>
<p>
    Added new pages online !
    Slang list, Changelog, Ranks and Luck ranks
</p>

<h2>Version 2.3</h2>
<p>
    Removed ans, now you can answer without using ans<br />
    Added daily update that remove 5% of your points each day
</p>

<h2>Version 2.2</h2>
<p>
    Fixed profile for points<br />
    Added p (user) for other players<br />
    Fixed many database old items<br />
    The database is way more faster and efficient<br />
    Fixed some graphic issues<br />
    Optimized some old code
</p>
