@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nadja</h1>
    <p class="lead">Nadja is a Discord Bot made from the game Black Survival.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Commands</h2>
        <p>
            Get the commands here
        </p>
        <p><a class="btn btn-default" href="/Home/Commands">Commands list &raquo;</a></p>
    </div>
    <!--
    <div class="col-md-4">
        <h2>Commands log</h2>
        <p>Here's the journal of every commands</p>
        <p><a class="btn btn-default" href="/Home/Journal">Commands Journal &raquo;</a></p>
    </div>
    -->
</div>